.bg-verde {
  background-color: #9cb286; }

body {
  background-color: #bfec92a9; }

.logo {
  width: 60px;
  height: 60px; }

.menu {
  font-size: 20px;
  text-align: right; }

p {
  font-family: "Heebo", sans-serif, "Poppins", sans-serif;
  text-align: center;
  font-size: 25px; }

main {
  display: flex;
  flex-direction: column;
  padding: 1rem; }
  main h1 {
    text-align: center;
    color: #9cb286; }
  main h2 {
    text-align: center; }
  main .img {
    display: flex;
    justify-content: center; }
    main .img img {
      width: 70%; }

section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem; }

footer {
  background-color: #9cb286;
  display: flex;
  padding: 1rem;
  gap: 1rem; }
  footer p {
    font-size: 10px; }
  footer .img-redes {
    width: 40px; }

.img-dos {
  display: flex;
  justify-content: center;
  width: 40%; }

.p-1 {
  font-size: 20px;
  background-color: none; }

.p-2 {
  font-size: 15px;
  background-color: #d0e0c0a9; }

.p-3 {
  font-size: 15px;
  background-color: none; }

.p-0 {
  font-style: italic;
  text-decoration: underline; }

.video {
  height: 400px;
  padding: 10px; }

.carousel-item {
  width: 70%;
  justify-content: center; }

.caja {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 10px;
  padding: 10px; }
