// Variables
.bg-verde{
    background-color:  #9cb286;
     }
$primary-bg-color: #9cb286;
$secondary-bg-color: #bfec92a9;
$primary-text-color: #9cb286;
$primary-link-color: #007bff;
$primary-link-hover-color: #0056b3;
$primary-font: 'Heebo', sans-serif;
$secondary-font: 'Poppins', sans-serif;

// Mixin para estilos de texto
@mixin texto-basico {
  font-family: $primary-font, $secondary-font;
  text-align: center;
}

// Estilos globales
body {
  background-color: $secondary-bg-color;
}

.logo {
  width: 60px;
  height: 60px;
}

.menu {
  font-size: 20px;
  text-align: right;
}

// Tipografía para párrafos
p {
  @include texto-basico;
  font-size: 25px;
}

// Estilos para 'main'
main {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  h1 {
    text-align: center;
    color: $primary-text-color;
  }

  h2 {
    text-align: center;
  }

  .img {
    display: flex;
    justify-content: center;
    img {
      width: 70%;
    }
  }
}

// Estilos para 'section'
section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

// Estilos para 'footer'
footer {
  background-color: $primary-text-color;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  p {
    font-size: 10px;
  }
  .img-redes {
    width: 40px;
  }
}

// Estilos específicos para 'img-dos'
.img-dos {
  display: flex;
  justify-content: center;
  width: 40%;
}

// Mixin para estilos de párrafo
@mixin parrafo($font-size, $bg-color: none) {
  font-size: $font-size;
  background-color: $bg-color;
}

// Estilos para clases p-1, p-2 y p-3
.p-1 {
  @include parrafo(20px);
}

.p-2 {
  @include parrafo(15px, #d0e0c0a9);
}

.p-3 {
  @include parrafo(15px);
}

// Estilo para la clase p-0
.p-0 {
  font-style: italic;
  text-decoration: underline;
}

// Estilos para '.video' y '.carousel-item'
.video {
  height: 400px;
  padding: 10px;
}

.carousel-item {
  width: 70%;
  justify-content: center;
}

// Estilos específicos para 'caja'
.caja {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 10px;
  padding: 10px;
}